chartContentHash: "${chart_hash}"
pgadminEmail: "${pgadminEmail}"
pgadminPassword: "${pgadminPassword}"
servers:
%{ for server in servers ~}
  - name: "${server.name}"
    database: "${server.database}"
    host: "${server.host}"
    username: "${server.username}"
%{ endfor ~}
