---
apiVersion: v1
kind: Secret
metadata:
  name: tailscale-cleanup-creds
type: Opaque
stringData:
  ts-api-key: "{{ .Values.tsApiKey }}"
  tailnet: "{{ .Values.tailnet }}"
---
apiVersion: batch/v1
kind: Job
metadata:
  name: remove-stale-devices
spec:
  backoffLimit: 1
  template:
    spec:
      containers:
        - name: remove-stale-devices
          image: badouralix/curl-jq
          command: ["/bin/sh", "-c"]
          args:
            - |
              NOW=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
              echo "Current time in UTC: $NOW"
              while true; do
                DEVICES=$(curl -s -H "Authorization: Bearer $TAILSCALE_API_KEY" "https://api.tailscale.com/api/v2/tailnet/$TAILNET/devices")
                if [ -n "$DEVICES" ]; then
                  break
                fi
                echo "Retrying: Failed to fetch devices from Tailscale API..."
                sleep 15
              done
              echo "$DEVICES" | jq -r '.devices[] | "\(.id) \(.lastSeen)"' > /tmp/devices.txt
              if [ ! -s /tmp/devices.txt ]; then
                echo "Error: No devices found in API response or JQ processing failed"
                exit 1
              fi
              echo "Devices to process:"
              cat /tmp/devices.txt
              while read DEVICE_ID LAST_SEEN; do
                echo "Processing device $DEVICE_ID, last seen at $LAST_SEEN"
                if [ -n "$LAST_SEEN" ] && [ "$LAST_SEEN" \< "$NOW" ]; then
                  echo "Device $DEVICE_ID has not been seen since $LAST_SEEN, removing..."
                  curl -s -X DELETE -H "Authorization: Bearer $TAILSCALE_API_KEY" "https://api.tailscale.com/api/v2/device/$DEVICE_ID"
                else
                  echo "Device $DEVICE_ID is either recent or has no lastSeen, skipping..."
                fi
              done < /tmp/devices.txt
          env:
            - name: TAILSCALE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: tailscale-cleanup-creds
                  key: ts-api-key
            - name: TAILNET
              valueFrom:
                secretKeyRef:
                  name: tailscale-cleanup-creds
                  key: tailnet
      restartPolicy: Never
