wireguard.ip812.com {
    hosts {
        10.0.0.1 proxmox.wireguard.ip812.com
        10.0.0.4 shoot-work-01.wireguard.ip812.com
        10.0.0.5 shoot-o11y-01.wireguard.ip812.com
        fallthrough
    }
    log
    errors
}

. {
    forward . 1.1.1.1 9.9.9.9
    cache 30
    log
    errors
}
