---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pgadmin-ingress
  namespace: databases
spec:
  defaultBackend:
    service:
      name: pgadmin-svc
      port:
        number: 8080
  ingressClassName: tailscale
  tls:
    - hosts:
        - pgadmin.taile31a9d.ts.net
